<template>
  <b-container fluid class="box">
    <b-row>
      <b-col md="3">
        <b-row cols="1"  v-bind:key="location.id" v-for="location in locations.locs" >
            <b-col><span class="locbar" v-on:click="location.visible = !location.visible">{{location.city}}</span></b-col>
            <b-col :id=location.id class="cats"  v-if="!location.visible">
              <b-col v-bind:key="cat.id" v-for="cat in locations.cats">
                <router-link v-bind:to="'/venues/explore/?near=' + location.slug+'&query='+cat.slug">{{ cat.title }}</router-link>
              </b-col>
            </b-col>
 
        </b-row>
      </b-col>
      
      <b-col class="lbar">
        <div class="city-bar"><h2 ref="ctitle"></h2></div> 

        <div class="city-div" v-bind:key="data.id" v-for="data in venues">
          
          <h3 class="cat">{{ data.venue.name }}</h3> 
          <p class="p">{{ data.venue.location.address }} {{ data.venue.location.postalCode }}<br />{{ data.venue.location.crossStreet }}</p>
        </div>
      </b-col>

    </b-row>
  </b-container>
</template>

<script>
import request from 'request'

export default {
  name:"Categories",
  components:{

  },
  //el:'.box',
  data() {
    return {
      venues:[],
      title:null
    }
  },
  props: ["locations"],
  methods: {
    
    findloc (near) {
        let a = this.locations.locs.filter(el => {
          if(el.slug === near) return {[el.slug]:el}
        })
        return a[0]
    },
    findcat (query) {
        let a = this.locations.cats.filter(el => {
          if(el.slug === query) return {[el.slug]:el}
        })
        return a[0]
    },
    gotoLocation(params) {
      let city = this.findloc(params.near)
      let cat = this.findcat(params.query)
      
      this.title = city.city+' - '+cat.title

      request({
        url: 'https://api.foursquare.com/v2/venues/explore',
        method: 'GET',
        qs: {
          client_id: 'M1SXETTSO333IOJ1VJZ2O20CQ5BQBXGHTWFFBXAMCFCM0DS4',
          client_secret: 'BMOZENVKVDQIFIT2RYZYXDR0K0QJRDTLM4ORTL5I3KKT4NS1',
          ll: city.latitude+','+city.longitude, // '40.7243,-74.0018',
          query: params.query,
          v: '20200524',
          limit: 8
        },
      },
      (err, res, body) => {
        if (err) {
          console.error(err);
        } else {
          this.venues = JSON.parse(body).response.groups[0].items
          this.venues['city'] = city
        }
      })
    },
  },
  watch: {
      title: {
          // immediate: true,
          handler() {
              document.title = this.title;
              this.$refs.ctitle.innerHTML = this.title
          }
      }
  },
  mounted() {
    this.$router.afterEach( e => {
        this.gotoLocation(e.query)
      })
  }
}
</script>

<style lang="scss">
.locbar{
  cursor: pointer;
}
.city-bar{
  background: #333;
}
.city-bar h2{
    padding-left: 10px;
    text-shadow: 1px 1px 3px #000;
    font-size: 22px;
  }

.cat {
  color:#FF5500;
  font-size:18px;
}
.city-div{
  border-bottom: 1px dotted #555;
  margin-bottom: 10px;
}
.city-div:last-child{
  border-bottom:none
}
.lbar{
  border-left:1px solid #555;
}
p{
  color:#FFAA00;
  font-size: 14px;
}
.box {
  padding:20px;
}
// Mixin itself
@mixin clearfix() {
  &::before {
    display: block;
    content: "";
    clear: both;
  }
}

// Usage as a mixin
.element {
  @include clearfix;
}
</style>