<template>
  <div class="todo-item">
    <h2>dd</h2>
    <ul>
      <li>  {{location.city}}</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Locations",
  props: ["location"],
  methods:{
    markComplete() {
      this.location.completed = !this.location.completed;
    }
  }
}
</script>

<style lang="scss">
.todo-item {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px dotted #ccc;
}

.todo-item ul {
  display: inline-block;
  width: 100%;
  background: #f4f4f4;
}
.todo-item ul li{
  padding: 10px;
  border-bottom: 1px dotted #ccc;
}
</style>