@import "variables";
h1{
 font-size: $h1-font-size;
 line-height: $h1-line-height;
 font-weight: $h1-font-weight;
 color: $h1-color;
}

@mixin overlay() {
  left: 0;
  top: 0;
  background: black;
  opacity: 0.2;
 }
 
 .my-background{
  @include overlay();
 }