<template>
  <b-container id="app">
    <Header />
    <router-view/>
  </b-container>
</template>
<script>
import Header from './components/layout/Header'
export default {
  name: 'app',
  components:{
    Header
  }
  
}
</script>
<style lang="scss">
* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background: #000;
  color:#F2F2F2;
}
#app {
  background: #444;
  color:#F3F3F3;
}
.btn{
  display: inline-block;
  padding: 7px 20px;
  background: #444;
  color: #fbfbfb;
  border: none;
  cursor: pointer;
}
.btn:hover{
  background: #666;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.hidden {
  display:none
}
</style>
