
<template>
  <Categories v-bind:locations="locations" />
</template>

<script>
import Categories from '../components/Categories'
import axios from 'axios'

export default {
  name: 'home',
  components: {
    Categories
  },
  data() {
    return {
      locations:[]
    }
  },
  methods: {

  },
  created(){
    console.log('AAAAA',this.$route.params)
    axios.post('http://localhost/api/cats/list',{
      pr:{main:0}
    })
    .then( res => {
      return res.data
    })
    .then( res => {
      // console.log("Res: ",res)

      this.locations = res
        axios.post('http://localhost/api/locations/list',{
          pr:{main:0}
        })
        .then( r => {
          return this.locations = {cats:res, locs:r.data.map((cts,i) => {
                cts.first = i===0 ? true:false
                cts.visible = true
                return cts
            })}
            // console.log(this.locations.locs)
        })
        .catch(e => console.log(e))
    } )
    .catch(e => console.log(e))
  }
}
</script>

<style>

</style>
