
<template>
  <Categories v-bind:locations="locations" />
</template>

<script>
import Categories from '../components/Categories'
import axios from 'axios'

export default {
  name: 'home',
  components: {
    Categories
  },
  data() {
    return {
      locations:[],
      data:[]
    }
  },
  methods: {
    logError(e) {
      // console.log yerine istenilen loglama fonksiyonu yazılabilir 
      console.log(e)
    }
  },
  created(){
    
    axios.post('http://localhost/api/cats/list',{
      pr:{main:0}
    })
    .then( res => {
      return res.data
    })
    .then( res => {
      axios.post('http://localhost/api/locations/list',{
          pr:{main:0}
        })
        .then( r => {
          return this.locations = {cats:res, locs:r.data.map((cts,i) => {
                cts.first = i===0 ? true:false
                cts.visible = true
                return cts
            })}
        })
        .catch(e => this.logError(e))
        
    } )
    .catch(e => this.logError(e))
  }
}
</script>

<style>

</style>
